@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 220 26% 12%;
    --card: 0 0% 100%;
    --card-foreground: 220 26% 12%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 26% 12%;
    --primary: 45 100% 50%;
    --primary-foreground: 220 26% 12%;
    --secondary: 215 70% 14%;
    --secondary-foreground: 0 0% 100%;
    --muted: 220 13% 91%;
    --muted-foreground: 220 10% 46%;
    --accent: 9 100% 62%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 45 100% 50%;
    --chart-1: 45 100% 50%;
    --chart-2: 9 100% 62%;
    --chart-3: 215 70% 14%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.375rem;
    --sidebar-background: 46 100% 94%;
    --sidebar-foreground: 220 26% 12%;
    --sidebar-primary: 45 100% 50%;
    --sidebar-primary-foreground: 220 26% 12%;
    --sidebar-accent: 220 13% 91%;
    --sidebar-accent-foreground: 220 26% 12%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 45 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
